<mat-drawer-container class="app-sidenav-container" autosize>
  <mat-drawer #drawer class="app-sidenav" mode="side">

    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>

    <p *ngIf="showFiller">Frontend jest The BEST!!!</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Cos dla Backendów!
    </button>
  </mat-drawer>

  <div class="app-sidenav-content">
    <button type="button" mat-flat-button (click)="drawer.toggle()">
      WELCOME TO MY WEBSITE
    </button>
  </div>

</mat-drawer-container>
